#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos {
        compatible = "zmk,combos";
        
        // Reset Bluetooth LADO ESQUERDO - Q + W + E + R (posições 1,2,3,4 com padding)
        bt_reset_left {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <1 2 3 4>;
            timeout-ms = <3000>;
            require-prior-idle-ms = <100>;
        };
        
        // Reset Bluetooth LADO DIREITO - P + O + I + U (posições 10,9,8,7 com padding)  
        bt_reset_right {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <10 9 8 7>;
            timeout-ms = <3000>;
            require-prior-idle-ms = <100>;
        };

        // Alternar TEMPORARIAMENTE para USB - A + S + D (posições 13,14,15 com padding)
        output_toggle {
            bindings = <&out OUT_TOG>;
            key-positions = <13 14 15>;
            timeout-ms = <2000>;
            require-prior-idle-ms = <100>;
        };

        // Windows + Tab (Task View) - E + R + T (posições 3,4,5)
        win_tab_combo {
            bindings = <&kp LG(TAB)>;
            key-positions = <3 4 5>;
            timeout-ms = <2000>;
            require-prior-idle-ms = <100>;
        };
        
        // Open Teriminal in code - / + . + T (posições 34, 33, 5)
        terminal_code_combo {
            bindings = <&kp LC(LS(GRAVE))>;
            key-positions = <34 33 5>;
            timeout-ms = <2000>;
            require-prior-idle-ms = <100>;
        };
        
        // CTRL button - Z + X (posições 25, 26)
        ctrl_combo {
            bindings = <&kp LCTRL>;
            key-positions = <25 26>;
            timeout-ms = <2000>;
            require-prior-idle-ms = <100>;
        };

        // ESC button - Q + W (posições 1, 2)
        esc_combo {
            bindings = <&kp ESC>;
            key-positions = <1 2>;
            timeout-ms = <2000>;
            require-prior-idle-ms = <100>;
        };

        
        // HOME - Y + U (posições 6, 7)
        home_combo {
            bindings = <&kp HOME>;
            key-positions = <6 7>;
            timeout-ms = <2000>;
            require-prior-idle-ms = <100>;
        };

        // END - H + J (posições 18, 19)
        end_combo {
            bindings = <&kp END>;
            key-positions = <18 19>;
            timeout-ms = <2000>;
            require-prior-idle-ms = <100>;
        };

        // DELETE - SHIFT + BACKSPACE (posições 38 + 39)
        shift_backspace_combo {
            bindings = <&kp DELETE>;
            key-positions = <38 39>;
            timeout-ms = <2000>;
            require-prior-idle-ms = <50>;
            layers = <0>;
        };
        

        // ACENTOS PORTUGUESES
        
            // ACENTO AGUDO (´) - I + O (posições 8, 9)
            acute_accent_combo {
                bindings = <&kp APOSTROPHE>;
                key-positions = <8 9>;
                timeout-ms = <2000>;
                require-prior-idle-ms = <100>;
            };

            // ACENTO CIRCUNFLEXO (^) - O + P (posições 9, 10)
            circumflex_combo {
                bindings = <&kp LS(N6)>;
                key-positions = <9 10>;
                timeout-ms = <2000>;
                require-prior-idle-ms = <100>;
            };

            // TIL (~) - U + I (posições 7, 8)
            tilde_combo {
                bindings = <&kp LS(GRAVE)>;
                key-positions = <7 8>;
                timeout-ms = <2000>;
                require-prior-idle-ms = <100>;
            };

            // ACENTO GRAVE (`) - K + L (posições 20, 21)
            grave_accent_combo {
                bindings = <&kp GRAVE>;
                key-positions = <20 21>;
                timeout-ms = <2000>;
                require-prior-idle-ms = <100>;
            };

            // CEDILHA (ç) - M + COMMA (posições 31, 32)
            cedilla_combo {
                bindings = <&kp RA(COMMA)>;
                key-positions = <31 32>;
                timeout-ms = <2000>;
                require-prior-idle-ms = <100>;
            };
    };    
    
    keymap {
        compatible = "zmk,keymap";

        // Base QWERTY Layer (5x3) com padding para shield 6x3
        default_layer {
            bindings = <
                &none   &kp Q   &kp W   &kp E      &kp R       &kp T         &kp Y        &kp U      &kp I       &kp O     &kp P       &none
                &none   &kp A   &kp S   &kp D      &kp F       &kp G         &kp H        &kp J      &kp K       &kp L     &kp SEMI    &none
                &none   &kp Z   &kp X   &kp C      &kp V       &kp B         &kp N        &kp M      &kp COMMA   &kp DOT   &kp SLASH   &none
                                        &kp LGUI   &kp LSHFT   &lt 1 SPACE   &lt 2 BSPC   &kp RET   &kp LCTRL
            >;
        };

        // Numbers Layer
        num_layer {
            bindings = <
                &none   &kp SQT    &kp UP     &none       &kp LPAR   &kp RPAR   &kp KP_SLASH   &kp N7      &kp N8      &kp N9   &kp MINUS   &none
                &none   &kp LEFT   &kp DOWN   &kp RIGHT   &kp LBKT   &kp RBKT   &kp STAR       &kp N4      &kp N5      &kp N6   &kp PLUS    &none
                &none   &none      &none      &none       &kp LBRC   &kp RBRC   &kp N0         &kp N1      &kp N2      &kp N3   &kp EQUAL   &none
                                              &none       &kp TAB    &none      &kp RET        &kp LSHFT   &kp LCTRL   
            >;
        };

        // Symbols Layer
        sym_layer {
            bindings = <
                &none   &kp EXCL       &kp AT         &kp HASH       &kp DOLLAR     &kp PERCENT    &kp AMPERSAND   &kp F7   &kp F8   &kp F9   &kp F10   &none
                &none   &none          &kp C_BRI_DN   &kp C_BRI_UP   &kp C_VOL_DN   &kp C_VOL_UP   &none           &kp F4   &kp F5   &kp F6   &kp F11   &none
                &none   &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &none          &none           &kp F1   &kp F2   &kp F3   &kp F12   &none
                                                      &none          &none          &none          &none           &none    &none
            >;
        };
    };
};
